<head>
  <!-- Meta Information -->
  <title>Beerade</title>

  <!-- Fonts of the system -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>

  <script type="text/javascript" src="/vendor/moment.js"></script>

  <!-- Top nav bar (fixed) -->
  <nav id="nav-bar">
    <span class="header">Beerade</span>
    <form>
      <button href="#" class="login" class="scrollup" type="button"><i class="fas fa-pencil-square-o" aria-hidden="true"></i> Login</button>
      <button href="#" class="logout" class="scrollup" type="button"><i class="fas fa-pencil-square-o" aria-hidden="true"></i> Logout</button>
    </form>
    </nav>
</head>